<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Blank </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="container">
    <h2>Image Upload</h2>
    <input type="file" (change)="onFileSelected($event)" />
    <ion-button (click)="uploadImage()" [disabled]="!selectedFile">
      Upload without Multipart
    </ion-button>
    <ion-button
      (click)="uploadImage(true)"
      [disabled]="!selectedFile"
      color="warning"
    >
      Upload with Multipart
    </ion-button>
  </div>
</ion-content>
